@reboot echo "───────────────────────────────────────" > /proc/1/fd/1
@reboot echo "Starting, let's go! - $(date)" > /proc/1/fd/1
@reboot echo "───────────────────────────────────────" > /proc/1/fd/1
#* * * * * date > /proc/1/fd/1
#
##########################################
# PLEX RANDOM MOVIES OF THE DAY        ###
##########################################
#
# 3 random movies (with trailers !) for the day.
# Every day at 7:00
0 7 * * * { echo "───────────────────────────────────────" && date && echo "What are we going to get today ?" && echo "───────────────────────────────────────" && cd /app/scripts/ && /usr/local/bin/python3 movies_random.py > /proc/1/fd/1 2>&1; } > /proc/1/fd/1
#
##########################################
